@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #6f36ff;
}

.wrapper {
    top: 50%;
    left: 50%;
    width: 450px;
    background: #fff;
    position: absolute;
    border-radius: 10px;
    transform: translate(-50%, -50%) scale(1.4);
    cursor: grab;
}

.wrapper header {
    color: #6f36ff;
    font-size: 23px;
    font-weight: 500;
    padding: 17px 30px;
    border-bottom: 1px solid #bfbfbf;
}

.wrapper header.active {
    cursor: grabbing;
    user-select: none;
}

.wrapper .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 30px 30px 40px;
}

.content .icon {
    height: 95px;
    width: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.content .icon i {
    color: #6f36ff;
    font-size: 60px;
}

.content .title {
    font-size: 29px;
    font-weight: 500;
    margin: 15px 0;
}

.content p {
    font-size: 16px;
    text-align: center;
}